<div class="section-game">
	<div class="container">
		<!--h1>Data Viz Coming Soon</h1>
		<span>
			<!- -img src="https://farm8.staticflickr.com/7419/11954631794_514f6f28a3_z.jpg"- ->
		</span-->

		<div class="panel panel-default">
		  <!--div class="panel-heading">Questions</div-->
		  <div class="panel-body">
		    Select a question and a yes or no answer to see how it affects the tokens below
		  </div>

		</div>

		<!--div class="panel panel-default">
		  <!- -div class="panel-heading">Questions</div>
		  <div class="panel-body">
		    Selct a question and a yes or no answer to see how it affects the tokens below
		  </div- ->

		  
		  	
			  	<ul class="list-group questions-lt">

			  	<div class="q-grp">
			  		<li class="list-group-item active">Should we build more schools?</li>
			  		<ul class="nav nav-pills">
					  <li role="presentation"><a href="#">Yes</a></li>
					  <li role="presentation"><a href="#">No</a></li>
					</ul>
		  		</div>
		  	<!- -div>
		  		<li class="list-group-item active">Should we build more schools?</li>
		  		<div class="btn-group btn-group-justified questions-ans" role="group" aria-label="...">
				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default">Yes</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default">No</button>
				  </div>
				</div>
			</div- ->

		    <li class="list-group-item">Should we raise taxes for the top the 10% earners?</li>
		    <li class="list-group-item">Should the government spend more on healthcare?</li>
		    <li class="list-group-item">Should we increase the spending on arts?</li>
		    <li class="list-group-item">Would you be willing to make all school and college education free for everyone?</li>
		    <li class="list-group-item">Should we open up the borders completely to immigrants?</li>
		    <li class="list-group-item">Should we build more museums to preserve culture and increase tourism?</li>
		    <li class="list-group-item">Do you want to abolish drug patents so that the poor can afford medicines?</li>
		    <li class="list-group-item">Should we as a society be willing to embrace failure on equal terms with success?</li>
		    <li class="list-group-item">Should we give free homes to the homeless?</li>
		  </ul>


		</div-->

		<div class="panel panel-default q-tb">

		<table class="table table-bordered">
		  <tbody>
		    <tr class="tr-1">
		        <td class="td-1">Should we build more schools?</td>
		        <td class="highlight"><a href="#">Yes</a></td>
		        <td class=""><a href="">No</a></td>
		    </tr>
		    <tr class="tr-2">
		        <td class="td-2">Should we raise taxes for the top the 10% earners?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr class="tr-3">
		        <td class="td-3">Should the government spend more on healthcare?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr class="tr-4">
		        <td class="td-4">Should we increase the spending on arts?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr class="tr-5">
		        <td class="td-5">Would you be willing to make all school and college education free for everyone?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr class="tr-6">
		        <td class="td-6">Should we open up the borders completely to immigrants?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr class="tr-7">
		        <td class="td-7">Should we build more museums to preserve culture and increase tourism?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr class="tr-8">
		        <td class="td-8">Do you want to abolish drug patents so that the poor can afford medicines?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr class="tr-9">
		        <td class="td-9">Should we as a society be willing to embrace failure on equal terms with success?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		    <tr  class="tr-10">
		        <td class="td-10">Should we give free homes to the homeless?</td>
		        <a href="#"><td class="">Yes</td></a>
		        <a href=""></a><td class="">No</td></a>
		    </tr>
		   </tbody>
		</table>

		</div>

		<div class="panel" id="viz">

		</div>


	</div>
</div>
