	
<div class="site">
	<div class="page">
		<div class="header">
			<div class="logo">
				<a href="#"><span>LocalProjects</span></a>
			</div>
		</div>
	</div>
</div>


<div class="selections clearfix">
	<button class="btn" type="button">Game</button>
	<button class="btn" type="button">Admin</button>
</div>

<div class="section">
	<div class="container">
		<h1>Example App: Home</h1>

		<span>
			<img src="https://farm8.staticflickr.com/7419/11954631794_514f6f28a3_z.jpg">
		</span>		
	</div>
</div>
