	
<div class="site">
	<div class="page">
		<div class="header">
			<div class="logo">
				<a href="#"><span>LocalProjects</span></a>
			</div>
		</div>
	</div>
</div>


<h1>Example App: Home</h1>

<span>
	<img src="https://farm8.staticflickr.com/7419/11954631794_514f6f28a3_z.jpg">
</span>