html {
  	box-sizing: border-box;
  	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
  	box-sizing: inherit;
}

body {
	background: #F4F6F8;
	color: #303030;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
}

hr {
	display: block;
	height: 1px;
	max-width: 85%;
	border-color:#CED4DB;
}

.page {
	width: 100%;
	overflow: hidden;
}

.header {
	padding: 20px;
	background-color: #FFFFFF;
}

.logo a {
	text-decoration: none;
}

.logo span {
	color: #000;
	display: block;
	margin: auto;
	font-size: 2em;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.logo a:hover {
	color: #FFF;
	text-decoration: none;
}

.seclections {
	background: #FFF;
	position: relative;

}

.selections button {
	background: #5094CF;
	border-radius: 5px;
	color: #FFFFFF;
	border: none;
	width: 10em;
	height: 3em;
	margin:2em 1em;
	font-size: 1em; 
}

.selections button:focus {
	outline: none;
}

.selections button:hover {
	border: 3px solid #00A0D8;
	background-color: #FFF;	
	color: #00A0D8;
}

.clearfix:before
.clearfix:after {
	display: block;
	content: "";
}

.clearfix:after {
	clear: both;
	content: "";
   	display: block; 
   	height: 0;
}

.section-game {
	width: 90%;
	max-width: 1020px;
	/*background-color: #FFFFFF;*/
	margin: 1em auto;
	/*border: 1px solid #CED4DB;*/
}

.section-admin {
	width: 90%;
	max-width: 1020px;
	background-color: #FFFFFF;
	margin: 1em auto;
	border: 1px solid #CED4DB;
}


.container {
	width: 100%;
	/*position: relative;*/
}



/*.questions-ans {
	/ *float: left;* /
	position: relative;
	width: 50%;
}*/

.questions-lt {
	text-align: left;
}

/*li {
	float: left;
}*/

.q-grp {
	/*display: block;*/
}

.q-grp li{
	display: inline-block;
}

.q-grp ul {
	float: right;
}

.q-tb {
	text-align: left;
}

.card-container {
	width: 80%;
	margin: 0 auto; 
	/*margin-left: 2em;*/
}

.card-container form {
	margin: 2em 0;
}

.card-container .dropdown {
	margin: 2em 0;
}

.card-container .submit-question {
	width: 70%;
	background: #5094CF;
	border-radius: 5px;
	color: #FFFFFF;
	border: none;
	height: 3em;
	margin:2em 1em;
	font-size: 1em;
	text-shadow: none;
}

.card-container .dropdown .dropdown-menu {
	/*margin: 2em auto;	*/
}

.form-group label {
	font-size: 1.3em; 
}





.bar2 {
    fill: #8C4332; 
}

.bar{
    fill: #1C4259;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}